# SETS

INTRO

In [1]:
s1 = set([1,2,3,4,5,2,3,3])
print(s1)

{1, 2, 3, 4, 5}

# Add value to a set
add() method

In [2]:
s1 = set([1,2,3,4,5,2,3,3])
s1.add(9)
print(s1)

{1, 2, 3, 4, 5, 9}

update() method

In [3]:
s1.update([10,'abc',11])
print(s1)

{1, 2, 3, 4, 5, 9, 10, 11, 'abc'}

# removing values in a set

In [4]:
s1 = set([1,2,3,4,5,2,3,3])
s1.remove(1)
print(s1)

{2, 3, 4, 5}

# KEYERROR

In [7]:
s1 = set([1,2,3,4,5,2,3,3])
s1.remove(10)
print(s1)

# using discard to remove

In [9]:
s1 = set([1,2,3,4,5,2,3,3])
s1.discard(3)
print(s1)

{1, 2, 4, 5}

using pop() to remove

In [9]:
s1 = set([1,2,3,4,5,2,3,3])
s1.pop()
print(s1)

{2, 3, 4, 5}

# Concatenations

In [12]:
set1 = {1,2,3,4}
set2 = {'Kevin','School','Home'}
set3 = {'Key','Pen','Play'}

# using pipeline method
set4 = set1 | set2
print(set4)

# using union
set4 = set1.union(set2)
print(set4)

{1, 2, 3, 4, 'Kevin', 'School', 'Home'}
{1, 2, 3, 4, 'Kevin', 'School', 'Home'}

# Performing intersection

In [14]:
set1 = {1,2,3}
set2 = {2,3,4}
set3 = {3,4,5}

set4 = set1 & set2
print(set4)

{2, 3}

using intersection

In [15]:
set4 = set1.intersection(set2)
print(set4)

{2, 3}

# Difference

In [16]:
set1 = {1,2,3}
set2 = {2,3,4}
set3 = {3,4,5}

set4 = set1 - set2
print(set4)

{1}

# Symmetric_difference

In [26]:

set4 = set1 ^ set3
print(set4)

{1, 2, 4, 5}

using symmetric_difference

In [35]:
set4 = set2.symmetric_difference(set3)
print(set4)

frozenset({1, 2, 4, 5})

# Frozen set
means it cannot be altered

In [32]:
set1 = {1,2,3}
set2 = frozenset(set1)
print(set2)

frozenset({1, 2, 3})

using difference

In [17]:
set4 = set1.difference(set2)
print(set4)

{1}

# More functions

In [20]:
s1 = {1,2,3}
s2 = {2,3,4}
s3 = {3,4,5}

In [12]:
# values which are common    intersection
s4 = s1.intersection(s2)
s4 = s1.intersection(s2,s3)
print(s4)

{3}

In [16]:

# unique values    difference
s4 = s1.difference(s2)
print(s4)

{1}

In [17]:
s4 = s2.difference(s1)
print(s4)

{4}

In [18]:

s4 = s2.difference(s1,s3)
print(s4)

set()

In [19]:
s4 = s3.difference(s1,s2)
print(s4)

{5}

In [23]:

# unique values both ways    symmetric_differences

s4 = s1.symmetric_difference(s2)
# s4 = s1 ^ s2


print(s4)

{1, 4}